.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #f2f2f2;
    color: #f2f2f2;
    margin-top: 10px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 40;
}

.headerNavPageLink {
    color: #d60800;
    text-decoration: none;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLinkActive {
    background-color: #d60900;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.headerNavPageLinkActive:hover {
    background-color: #b40800;
}

.headerNavLeftMargin {
    margin-left: 20px;
}
